{% extends 'base.jinja2' %}

{% block subtitle %}New donation{% endblock subtitle %}

{% block content %}
<form method="POST">
    <label for="name-input">Donor: </label><input id="name-input" type="text" name="donor">
    <label for="value-input">Amount: $</label><input id="value-input" type="number" name="value">
    <input type="submit" value="Add Donation">
</form>
{% endblock content %}